@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --fs-sm: clamp(0.6rem, 0.6rem + 1.4vw, 1.2rem);
  --fs-md: clamp(1.2rem, 1rem + 1.5vw, 2rem);
  --fs-lg: clamp(1.5rem, 1rem + 2vw, 3rem);
  --clr-red: hsl(0, 65%, 49%);
  --clr-red-hover: hsl(0, 65%, 40%);
  --clr-nonfood: #4b0095;
  --clr-food: #8000ff;
  --clr-blue: #0066ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Poppins", sans-serif;
}

#title {
  text-align: center;
  font-size: 1.4rem;
}

#home {
  max-width: 40em;
  margin: 0 auto;
  padding-bottom: 4em;
}

.btn {
  border: none;
  border-radius: 7px;
  width: 100%;
  margin-block: 1em 0.5em;
  padding: 0.5em 0.75em;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: var(--clr-blue);
  color: #fff;
  letter-spacing: 1.5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  background-color: #024fc2;
  transition: all 0.2s ease;
}

.btn:active {
  background-color: #3586ff;
  opacity: 0.9;
  transform: translateY(2px);
  transition: all 0.2s ease;
}

.btn.toggle {
  background-color: hsl(76, 45%, 45%);
  max-width: 60%;
  padding: 0.25em 0.5em;
  margin: 0 auto;
  color: #fff;
  transition: all 0.2s ease;
}

.btn.toggle:hover {
  background-color: hsl(76, 45%, 40%);
  transition: all 0.2s ease;
}

.btn.close {
  background-color: hsl(0, 0%, 18%);
  color: #fff;
}

.btn.close:hover {
  background-color: hsl(0, 0%, 23%);
  transition: all 0.2s ease;
}

.btn.large.clear {
  background-color: var(--clr-red);
  color: #fff;
  margin: unset;
  margin-bottom: 1em;
}

.btn.clear:hover {
  background-color: var(--clr-red-hover);
  transition: all 0.2s ease;
}

.btn.large.clear:active {
  background-color: var(--clr-red);
  opacity: 0.9;
}

.fade-enter-active {
  transition: all 0.3s linear;
}

.fade-leave-active {
  transition: unset;
  opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.form-fade-enter-active,
.form-fade-leave-active {
  transition: all 0.3s ease-in-out;
}

.form-fade-enter-from,
.form-fade-leave-to {
  opacity: 0;
}


main {
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.item-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 58vh;
  position: relative;
}

.item-list-container::-webkit-scrollbar {
  width: 4px;
}
.item-list-container::-webkit-scrollbar-track {
  background: #f1f1f143;
}
.item-list-container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.146);
  border-radius: 10px;
}
.item-list-container::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.477);
}

.fade-item-list {
  height: 50px;
  position: absolute;
  display: inline-block;
  z-index: 99;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.fade-item-list.top {
  background-image: linear-gradient(to bottom, #fff 0%, #ffffff00 25%);
  top: 0;
  left: 0;
}

.fade-item-list.bottom {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.919) 0%,
    #ffffff00 25%
  );
  bottom: 0;
  left: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 0.5em;
  padding-block: 0.5em;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-top: 0.5em;
  width: 100%;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding: 0.25em 0.5em;
}

.item-row:first-of-type {
  margin-top: 0;
}

.item-desc {
  background-color: var(--clr-nonfood);
  color: #fff;
  width: fit-content;
  min-width: 40%;
  border-radius: 7px;
  padding: 0.25em 0.75em;
  letter-spacing: 0.75px;
}

.item-desc.food {
  background-color: var(--clr-food);
}

.item-desc-price,
.item-acc {
  letter-spacing: 1.5px;
}

footer {
  /* width: 25em;
  max-width: 65%; */
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #0066ff;
  color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 0 -0.4em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 9999;
  user-select: none;
}

.total-result {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--fs-sm);
}

.total-result h3 {
  color: rgb(12, 12, 12);
  color: white;
}

.total-result div {
  padding: 0.5em 0.75em;
}

.total-dmg {
  background: var(--clr-red);
  color: #fff;
}

@media screen and (min-width: 848px) {
  .total-row {
    justify-content: center;
    gap: 15em;
  }
}

#state-select {
  padding: 0.25em 1.25em;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  box-shadow: 0.1em -0.1em 0.4em rgba(0, 0, 0, 0.3);
  margin-block: 0.3em;
  background: hsl(0, 0%, 98%);
  font-weight: 600;
  letter-spacing: 1px;
}

#state-select option {
  font-weight: 600;
  letter-spacing: 1px;
}

strong.blue {
  color: #0066ff;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}

a {
  margin-top: 0.5em;
}
