@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

#title {
  text-align: center;
  font-size: 1.4rem;
}

main {
  position: relative;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 7px;
  width: 280px;
  margin-block: 1em 0.5em;
  padding: 0.5em 0.75em;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: #0066ff;
  color: #fff;
  letter-spacing: 1.5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  background-color: #024fc2;
  transition: all 0.2s ease;
}

.btn:active {
  background-color: #3586ff;
  opacity: 0.9;
  transform: translateY(2px);
  transition: all 0.2s ease;
}

.btn.close {
  background-color: #2e2e2e;
  color: #fff;
}

.btn.large.clear {
  background-color: #ff6c6c;
  color: #fff;
  margin: unset;
  margin-bottom: 1em;
  max-width: 70%;
}

.btn.clear:hover {
  background-color: #ff5a5a;
  transition: all 0.2s ease;
}

.btn.large {
  width: 320px;
  max-width: 95%;
}

.fade-enter-active {
  transition: all 0.3s linear;
}

.fade-leave-active {
  transition: unset;
  opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.item-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 55vmax;
  min-width: fit-content;
  width: 25em;
  margin-inline: auto;
  max-width: 85%;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .item-list-container {
    max-height: 60vh;
    width: 25em;
  }
}

.item-list-container::-webkit-scrollbar {
  width: 4px;
}
.item-list-container::-webkit-scrollbar-track {
  background: #f1f1f143;
}
.item-list-container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.146);
  border-radius: 10px;
}
.item-list-container::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.477);
}

.fade-item-list {
  height: 50px;
  position: absolute;
  display: inline-block;
  z-index: 99;
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.fade-item-list.top {
  background-image: linear-gradient(to bottom, #fff 0%, #ffffff00 25%);
  top: 0;
  left: 0;
}

.fade-item-list.bottom {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.919) 0%,
    #ffffff00 25%
  );
  bottom: 0;
  left: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-inline: 0.5em;
  padding-block: 0.5em;
}

.item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin-top: 0.5em;
  width: 100%;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  padding: 0.25em 0.5em;
}

.item-row:first-of-type {
  margin-top: 0;
}

.item-desc {
  background-color: #4b0095;
  color: #fff;
  width: fit-content;
  min-width: 8em;
  border-radius: 7px;
  padding: 0.25em 0.75em;
  letter-spacing: 0.75px;
}

.item-desc.food {
  background-color: #8000ff;
}

.item-desc-price,
.item-acc {
  letter-spacing: 1.5px;
}

footer {
  /* width: 25em;
  max-width: 65%; */
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #0066ff;
  color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 0 -0.4em 0.5em rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

@media screen and (min-width: 768px) {
  footer {
    width: 45em;
  }
}

.total-result {
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  border-radius: 7px;
}

.total-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
  font-size: 1rem;
  width: 100%;
}

.total-row div {
  padding: 0.5em 1em;
}

.total-result h3 {
  color: rgb(12, 12, 12);
  color: white;
  font-size: 1.3rem;
}

.total-result p {
  font-size: 0.8rem;
}

.total-dmg {
  font-size: 1.1rem;
  background: red;
}

.total-dmg p {
  font-size: 1rem;
  color: white;
}

#state-select {
  padding: 0.25em 1.25em;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  box-shadow: 0.1em -0.1em 0.4em rgba(0, 0, 0, 0.3);
  margin-block: 0.3em;
  background: hsl(0, 0%, 98%);
  font-weight: 600;
  letter-spacing: 1px;
}

#state-select option {
  font-weight: 600;
  letter-spacing: 1px;
}

strong.blue {
  color: #0066ff;
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}

a {
  margin-top: 0.5em;
}
